:host {
  font-size: 14px;
   color: #333;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .toolbar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   display: flex;
   align-items: center;
   background-color: #19d281;
   color: white;
   font-weight: 600;
   
 }
 .toolbar_content{
  font-size: 19px;
  padding-left: 6px;
  letter-spacing: 1px; 
 }
 
 .content {
   display: flex;
   margin: 82px auto 32px;
   padding: 0 16px;
   max-width: 960px;
   align-items: center;
   
 }

 .tickerContent{
  flex: 1;
   display: flex;
   margin: 82px auto 32px;
   padding: 0 16px;
   max-width: 960px;
   align-items: center;
   box-shadow: 0 1px 8px 0 rgb(185, 170, 170);
   height: 12vh;
   border-radius: 1%;
 }
 
 .BTC_ETH{
  margin: 3px 250px 3px 3px;
    opacity: 0.5;
    font-size: 22px;
 }
 
 .currencyValue{   
  font-size: 15px;
 }
 .sidebar {
   flex: 0 1 250px;
 }
 
 .arrow {
   border: solid black;
   border-width: 0px 3px 3px 0 !important;
   display: inline-block;
   padding: 6px !important;
 }
 footer {
  background-color: #19d281;
  color: rgba(255,255,255,.7);
  bottom: 0px !important;
  position: fixed;
  width: 100% !important;
  height: 8vh;
}
 
 
 
 /* Responsive Styles */
 
 @media screen and (max-width: 575px) {
   svg#rocket-smoke {
     display: none;
     visibility: hidden;
   }
 }